<div class="gallery">
    <h1 class="app-title"></i>Gallery</h1>
    <div class="gallery-list">
         {{#each galleryitems as |gallery|}}
         <div class="gallery-list-item">
         <h3>{{gallery.name}}</h3>
         <div class="gallery-image-list">
          {{#each gallery.images as |image|}}
          <div>
            <img class="image" src="{{image.url}}"/>
          </div>
         {{/each}}

         </div>
         <div class="gallery-image-form">
            <input id="fileupload" type="file" name="fileupload" class="file-upload"/>
            <button class="btn" id="upload-button" onclick="uploadFile({{gallery.id}})"> Upload </button>
         </div>
         </div>
    {{/each}}
    </div>
    <div class="gallery-form">
        {{!-- <input id="fileupload" type="file" name="fileupload" />
        <button id="upload-button" onclick="uploadFile()"> Upload </button> --}}
        <input class="file-upload" type="text" placeholder= 'Gallery name' id="name-input"/>
        <button class="btn" id="add new gallery button" onclick="handlenewgallery()"> Add new Gallery Item</button>
    </div>

</div>

<script src="/javascript/gallery.js"></script>