{{#if loggedIn}}
<article class="post">
    <a class="link" href="/gallery">Upload to the gallery</a>
</article>
     <img class="images" src="https://images.squarespace-cdn.com/content/v1/54d3e565e4b01a0da312fdd6/1615244139727-R5WCGRUFOJTXZLKDGL8R/Boston+Harbor+Art_NK+boston+artwork.jpg?format=2500w" alt="" />
      <img class="images" src="https://cdn.pocket-lint.com/r/s/970x/assets/images/151442-cameras-feature-stunning-photos-from-the-national-sony-world-photography-awards-2020-image1-evuxphd3mr.jpg" alt="" />
      <img class="images" src="https://thumbs.dreamstime.com/b/ocean-beach-aerial-top-down-view-blue-water-waves-foam-spray-fine-sand-beautiful-summer-vacation-holidays-destination-185365664.jpg" alt="" />
     <img class="images" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkCNS0-ZMW44pufkKxWg-WtNMoCtkra_zqgw&usqp=CAU" alt="" />
      <img class="images" src="https://m.media-amazon.com/images/I/91uylFCg2yL._SL1500_.jpg" alt="" />
      <img class="images" src="https://i.etsystatic.com/11771780/r/il/98b5a5/924555576/il_570xN.924555576_rhom.jpg" alt="" />
      <img class="images" src="https://i.pinimg.com/736x/28/ab/71/28ab71de15b11c195dfb90efd6f1ac11.jpg" alt="" />
      <img class="images" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Great_Wave_off_Kanagawa2.jpg/1200px-Great_Wave_off_Kanagawa2.jpg" alt="" />
    {{#each images as |image|}}
            <img class="images" src="{{image.url}}"/>
        
         {{/each}}

{{/if}}